@import 'styles/globals.scss';

.filter-wrapper {
    min-width: 20rem;
    padding: $space-r $space-r $space-xl;
    background-color: $color-gray-sand;
    color: $color-dove-gray;
    font-size: $font-s;

    h3 {
        margin: 0 0 $space-r 0;
        color: $color-mine-shaft;
        font-size: $font-r;
        line-height: 3rem;
    }
}