@import 'styles/globals.scss';

.input-with-button {
    position: relative;
    height: 4rem;
    width : auto;
    margin: $space-xl $space-l;
  }
  
.input-with-button input {
    height: 4rem;
    width: 100%;
    padding: $space-r $space-xxxl $space-r $space-s;
    border: 1px solid $color-silver;
    border-radius: $border-radius-s;
    outline: none;

    &::placeholder {
        color: $color-silver;
    }
}

.input-with-button button {
    position: absolute;
    right: 0;
    top : 0;
    width: 4.6rem;
    height: 4rem;
    border: 1px solid $color-silver;
    border-radius: 0 $border-radius-s $border-radius-s 0;
    color: $color-silver;

    &:hover {
        background-color: $color-gray-sand;
    }
}