@import 'styles/globals.scss';

.accordion {

    header {
        display: block;
        width: 100%;
        position: relative; 
        margin: $space-xs 0 $space-r 0;
        padding: 0 0 0 $space-xxl;
        font-size: $font-s;
        line-height: 3rem;
    }

    header::before{
        content: "";
        position: absolute;
        top: 1.2rem;
        left: .6rem;
        width: 0;
        height: 0;
        border-left: .5rem solid transparent;
        border-right: .5rem solid transparent;
        border-top: .5rem solid $color-dove-gray;
        font-size: 0;
        line-height: 0;
    }
}

.accordion.open {

    .accordion-body {
        display: block;
    }

}

.accordion.closed {

    .accordion-body{
        display: none;
    }

    header::before {
        transform: rotate(180deg);
    }
}