
@import 'styles/globals.scss';

.content-wrapper {
    min-height: 100vh;
    min-width: 100%;
    height: 100%;
    display: flex;
    background-color: $color-primary-red;
}

.content {
    min-height: 100%;
    width: 100%;
    margin: 2em 0 0 0;
    background-color: $color-white;
    display: flex;

    @media (min-width: $breakpoint-desktop) {
        margin: 4em 2em 0 2em;
    }
}

.ads {
    display: none;
    @media (min-width: $breakpoint-desktop) {
        display: block;
        padding: 1em;
        img {
            width: 10rem;
            height: 40rem;
            object-fit: cover;
        }
    }
}

.main {
    flex-grow: 1;
    padding: 0.6em;
}

.list-wrapper {
    @media (min-width: $breakpoint-desktop) {
        display: grid;
        width: 100%;
        min-height: 100%;
        grid-template-columns: 1fr 3fr;
        column-gap: 1em;
    }
}

.filter-section {
    display: none;
    @media (min-width: $breakpoint-desktop) {
        display: block;
    }
}

h1 {
    color: $color-primary-red;
    font-size: 2.2rem;
    font-weight: 600;
    margin: 1rem 0 2rem;
}