@import 'styles/globals.scss';

.input-with-button {
    position: relative;
    height: 4rem;
    width : auto;
    margin: 1.6rem 1.2rem;
  }
  
.input-with-button input {
    height: 4rem;
    width: 100%;
    padding: 1rem 3rem 1rem .6rem;
    border: 1px solid $color-silver;
    border-radius: .4rem;
    outline: none;

    &::placeholder {
        color: $color-silver;
    }
}

.input-with-button button {
    position: absolute;
    right: 0;
    top : 0;
    width: 4.6rem;
    height: 4rem;
    border: 1px solid $color-silver;
    border-radius: 0 .4rem .4rem 0;
    color: $color-silver;

    &:hover {
        background-color: $color-gray-sand;
    }
}