
@import 'styles/globals.scss';

.list-wrapper {
    @media (min-width: $breakpoint-desktop) {
        display: grid;
        width: 100%;
        min-height: 100%;
        grid-template-columns: 1fr 3fr;
        column-gap: 1rem;
    }
}

.filter-section {
    display: none;

    @media (min-width: $breakpoint-desktop) {
        display: block;
    }
}

h1 {
    margin: 1rem 0 2rem;
    color: $color-primary-red;
    font-weight: 600;
    font-size: $font-xl;
    
    @media (min-width: $breakpoint-desktop) {
        font-size: $font-l;
    }
}