//colours
$color-primary-red: #DC140A;
$color-gray-sand: #F5F5F5;
$color-silver: #CCC;
$color-dove-gray: #646464;
$color-mine-shaft: #333333;
$color-sun: #FEB42B;
$color-white: #FFF;

//breakpoints for media-queries
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px; 

//font-sizes
$font-s: 1.4rem;
$font-r: 1.6rem;
$font-l: 2.2rem;
$font-xl: 2.8rem;

