//colours
$color-primary-red: #DC140A;
$color-gray-sand: #F5F5F5;
$color-mine-shaft: #333333;
$color-sun: #FEB42B;
$color-white: #fff;

//media-queries
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px; 